<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Блог</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <% if(auth != undefined) {%>
            <span class="form-control mr-sm-2"><%= auth.username %> 
                <% if(auth.role == 1) {%>
                  <span style="font-size:12px;color:#292b2c">(Администратор)</span>
                <%} %>
                <% if(auth.role == 2) {%>
                  <span style="font-size:12px;color:#292b2c">(Пользователь)</span>
                <%} %>
            </span>
            <a class="btn btn-outline-success" role="button" aria-pressed="true" href="/logout">Выход</a>
          <%} %>
          <% if(auth == undefined) {%>
            <span class="form-control mr-sm-2">Гость</span>
            <a class="btn btn-outline-success" role="button" aria-pressed="true" href="/auth">Вход</a>
          <%} %>
          
        </form>
      </div>
    </nav>